html, body {
    height: 100%;
    background-color: #f2f2f2;
}


@media only screen and (max-width: 620px) {
    #im{
        display: none;
    }
}

.fill { 
    min-height: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}


#im{
    margin-top: 5vh;
    height: 8vh;
}

.fa-arrow-circle-o-down{
    height: 10vh;
}

.block{
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: block;
}

.col-lg-3{
    margin-bottom: 10vh;
}

#home{
	background-color:#5E9CA0;

}

#page{
    background-color: #E2D3CF;
}

.why{
    margin-top: 3vh;
}

.h1{
    font-size: 7vh;
    font-weight: 700;
    letter-spacing: .3vw;
    color: white;
    font-family: Courier;
    margin-top: 0px;
    margin-bottom: 0px;

}

.typed-cursor{
    visibility: hidden;
}


#type{
    padding-top :0px;
    padding-bottom: 5vh;
}

#pag{
    margin-top: 20vh;
    margin-left: 10vw;
    float: left;
    height: 30vh;
    width: 45vh;
}

#pa{
    text-align: right;
    margin-right: 8vw;
    font-size: 6vh;
    font-family: Courier;
}

.row{
    margin-top: 20vh;
}



.titl{
    font-size: 25px;
    font-family: "Ubuntu";
    color :#FF6600;
}

.col-lg-4:hover{

box-shadow: 0px 1px 10px #0099FF;
}

.desc{
    font-size: 20px;
    font-family: "Ubuntu";
    color: grey;
}

.col-lg-4{
    margin-top: 8px;
}

#face{
    margin-top: 6vh;
}


.rule{
    width: 10vh;
    color: red;
}

hr.star-light2{
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light2:after{
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light2{
    max-width: 600px;
}

hr.star-light, hr.star-light2 {
    border-color: #fff;
}

hr.star-light:after, hr.star-light2:after {
    color: #fff;
    background-color: #5E9CA0;
}


/*#arrow{
    margin-top: 8vh;
    height: 8vh;
    border-radius: 10vh;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 3s; 
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.fa-arrow-down{
    color:#0099FF;
    height: 5vh;
}



@-webkit-keyframes example {
    0%   {background-color:#00FFFF;}
    50%  {background-color:#f2f2f2; }
    100% {background-color:#00FFFF;}
}


@keyframes example {
    0%   {background-color:#00FFFF; }
    50%  {background-color:#f2f2f2; }
    100% {background-color:#00FFFF; }
}*/
