@import url(https://fonts.googleapis.com/css?family=Ubuntu);

html {
     background: url("../assets/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about{
    width: 90vw;
    margin-left: 5vw;
    height: 15vh;
    background-color: #ffa726;
    border-radius: 20px;
    text-align: center;
    font-size: 4vh;
    font-family: 'Ubuntu';
    color: white;
}

#title{
    text-align: center;
    color: white;
    font-family: "Ubuntu";
    font-size: 12vh;
}

#subtitle{
    text-align: center;
    color: white;
    font-family: "Ubuntu";
    font-size: 6vh;
}


.center{
    text-align: center;
}



#blog{
    margin-left: 5vw;
    display: inline-block;
}

.main{
    margin-top: 20vh;
}

#buts{
    text-align: center;
    border-radius: 10px;
}

#projects{
    margin-left: 5vw;
    display: inline-block;
}

.icons{
    height: 18vh;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.icons:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.mid{
    margin-left:4vh;
    color:white;
    font-size: 3vh;
    font-family: 'Ubuntu';
}



